NOVAS/~$M.034.EF_Campo_para_justificativa_de_rejeicao_v3.docx
NOVAS/~$15001050 EF SAP CLM - Clientes e Parceiros Comerciais v1.0.docx
NOVAS/~$M.014.EF_Aprovacao_Societaria_v13.docx
SAP_CLM/GAPS/CLM.032/~$M 032 EF_Validação_de_Perfis_v6.docx
NOVAS/~$M 077_Workflow de Aprovação Fluxo Padrão e Customizado v3.docx
NOVAS/~$M.012.EF_Partes_Relacionadas_v3.docx
SAP_CLM/GAPS/CLM.034/~$M 034 EF_Campo_para_justificativa_de_rejeicao_v3.docx
/NOVAS/~$M.033.EF_Relatorio_de_Tarefas_pendentes_de Analise_v4.docx
/SAP_CLM/GAPS/CLM.033/~$M.033.ET_Relatorio_de_Tarefas_pendentes_de Analise_v2.docx
